name: flutter_appauth_web
description: A new Flutter package project.
version: 0.0.1
publish_to: none

environment:
  sdk: ">=2.16.2 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  http: ^0.13.4
  flutter_appauth_platform_interface: ^5.0.0
  platform_detect: ^2.0.3
  pointycastle: ^3.6.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_appauth: ^4.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  plugin:
    platforms:
      web:
        pluginClass: AppAuthWebPlugin
        fileName: flutter_appauth_web.dart
